html {
    font-family: 'Noto Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,code {
    font-family: 'Droid Sans Mono', monospace;
}

code {
    color: #333;
    font-size: .9em;
    padding: .2em;
}
pre {
    padding: 1em;
}

header {
    padding: 0em 5em;
    text-align: right;
}
main {
    padding: 5em;
}
.post-img {
    padding: 0em 1em;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
article {
    clear: both;
    padding-top: 2em;
}

nav.pagination {
    display: block;
    clear: both;
    text-align: center;
    margin: 0 auto;
}
