---
---

$color-code: #e6e6e6;

$font-default: 'Noto Sans', sans-serif;
$font-accent:  'Droid Sans Mono', monospace;

$padding-outer: 5em;

html {
    font-family: $font-default
}

h1,h2,h3,h4,h5,h6,code {
    font-family: $font-accent
}

code {
    color: #333;
    font-size: .9em;
    padding: .2em;
}

pre {
    padding: 1em;
    background-color: $color-code;
    border: thin solid darken($color-code, 20%);
    code {
	background-color: none;
	border: none;
    }
}

$height-header: 50px;
$padding-header-bottom: .5rem;
header.top-bar {
    padding: 0 $padding-outer;
    font-family: $font-accent;
    margin-bottom: 2em;
    
    hgroup.top-bar-left {
	height: $height-header;
	display: table-cell;
	vertical-align: bottom;

	h1.logo {
	    display: inline-block;
	    padding: 0;
	    margin: 0;
	    line-height: 1em;
	    img {
		height: $height-header;
	    }
	}

	h5 {
	    font-size: 1rem;
	    display: inline-block;
	    margin: 0 1rem;
	    padding: $padding-header-bottom 0;
	    vertical-align: bottom;
	}
    }
    
    nav {
	ul {
	    li {
		height: $height-header;
		padding: $padding-header-bottom 0;
		display: table-cell;
		vertical-align: bottom;
		a { padding-bottom: 0; }
	    }
	}
    }
}

main {
    padding: 1.5em 5em 5em;
}

.post-img {
    padding: 0 1em;
    float: right;
}
.posts article:nth-child(even) .post-img {
    float: left;
}

article {
    clear: both;
    padding-top: 2em;
}

.pagination {
    display: block;
    clear: both;
    text-align: center;
    margin: 0 auto;
}

ul.tags {
    float: right;
    li {
	list-style: none;
	font-size: small;
	float: left;
	margin-right: 1em;
    }
}

.is-accordion-submenu-parent > a::after {
    left: -1rem;
}

.social {
    text-align: center;
}

.prev-next {
    li {
	display: inline-block;
    }

    .prev { float: left; }
    .next { float: right; }
}


.highlight  {
    background: #ffffff;

    .c { color: #999988; font-style: italic } /* Comment */
    .err { color: #a61717; background-color: #e3d2d2 } /* Error */
    .k, /* Keyword */
    .gs, /* Generic.Strong */
    .kc, /* Keyword.Constant */
    .kd, /* Keyword.Declaration */
    .kp, /* Keyword.Pseudo */
    .kr  /* Keyword.Reserved */
    .o { font-weight: bold } /* Operator */
    .cm { color: #999988; font-style: italic } /* Comment.Multiline */
    .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
    .c1 { color: #999988; font-style: italic } /* Comment.Single */
    .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
    .gd {
	color: #000000; /* Generic.Deleted */
	background-color: #ffdddd;
	.x { color: #000000; background-color: #ffaaaa } /* .Specific */
    }
    .ge { font-style: italic } /* Generic.Emph */
    .gr { color: #aa0000 } /* Generic.Error */
    .gh { color: #999999 } /* Generic.Heading */
    .gi {
	color: #000000;  /* Generic.Inserted */
	background-color: #ddffdd;
	.x { color: #000000; background-color: #aaffaa } /* .Specific */
    }
    .go { color: #888888 } /* Generic.Output */
    .gp { color: #555555 } /* Generic.Prompt */
    .gu { color: #aaaaaa } /* Generic.Subheading */
    .gt { color: #aa0000 } /* Generic.Traceback */
    .kt { color: #445588; font-weight: bold } /* Keyword.Type */
    .m { color: #009999 } /* Literal.Number */
    .s { color: #d14 } /* Literal.String */
}

.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
