---
---

html {
    font-family: 'Noto Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,code {
    font-family: 'Droid Sans Mono', monospace;
}

code {
    color: #333;
    font-size: .9em;
    padding: .2em;
}

pre {
    padding: 1em;
}

header {
    padding: 0 5em;
    text-align: right;

    h5 {
	margin: 0;
    }

    .logo {
	margin-bottom: 0;

	img {
	    width: 250px;
	}
    }
}

main {
    padding: 5em;
}

.post-img {
    padding: 0 1em;
    float: right;
}
.posts article:nth-child(even) .post-img {
    float: left;
}

article {
    clear: both;
    padding-top: 2em;
}

.pagination {
    display: block;
    clear: both;
    text-align: center;
    margin: 0 auto;
}
