body, html {
    height: 100%;
    width: 100%;
}

.off-canvas-wrap, .inner-wrap {
    min-height: 100%;
}
.off-canvas-wrap {
    height: 100%;
    overflow-y: auto;
}

.head-logo svg {
    width: 6em;
    height: 2.7em;
    padding-top: 0.1em;
}
.head-logo svg path {
    fill: #fff;
}

/*.top-bar,
.top-bar-section ul li,
.top-bar-section ul li:not(.has-form) a:not(.button),
.top-bar-section ul li:not(.has-form) a:not(.button):hover {
    background-color: #f5f5f5;
    color: #111;
}*/

