<header>
  <aside class="left-off-canvas-menu">
    {% include top_nav.html ulClass="off-canvas-list" %}
  </aside>

  <nav class="tab-bar show-for-small">
    <a class="left-off-canvas-toggle menu-icon">
      <span class="head-logo">
        <img src="/images/mw-logo.svg" alt="Matt Whipple"/>
      </span>
    </a>
  </nav>

  <nav class="site-nav top-bar hide-for-small" data-topbar><!-- TODO:Check site-nav, what does this dataset do? -->
    <ul class="title-area">
      <li class="name">
        <a href="{{ site.baseurl }}/">
          <span class="head-logo">
            <img src="/images/mw-logo.svg" alt="Matt Whipple"/>
          </span>
        </a>
      </li>
    </ul>
    <section class="top-bar-section">
      {% include top_nav.html ulClass="right" %}
    </section>
  </nav>
</header>
