<nav>
  <ul class="pagination" role"navigation" aria-label="Pagination">
    {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path }}" aria-label="Previous">
	&laquo; Previous <span class="show-for-sr">page</span>
    </a></li>
    {% else %}
    <li class="disabled">&laquo; Previous <span class="show-for-sr">page</span></li>
    {% endif %}
    
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="current">
      <span class="show-for-sr">You're on page</span> {{ page }}
    </li>
    {% elsif page == 1 %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
	   aria-label="Page 1">{{ page }}</a></li>
    {% else %}
    <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', page }}"
	   aria-label="Page {{page}}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}
    
    {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
	   aria-label="Next page">
	Next &raquo; <span class="show-for-sr">page</span>
    </a></li>
    {% else %}
    <li class="disabled">Next &raquo; <span class="show-for-sr">page</span><li>
    {% endif %}
  </ul>
</nav>
