<!DOCTYPE html>
<html>
<head>
  <title>Matt Whipple, Software Engineer</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/css/site.css"/>
  {% feed_meta %}
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Noto+Sans"
        rel="stylesheet"/>
</head>
<body>
  <header>
    <hgroup>
      <h1>Matt Whipple, Software Engineer</h1>
      <h5>Writing in a Vacuum</h5>
    </hgroup>
  </header>
  <main>
    {{ content }}
  </main>
<footer>
  {% include ga.html %}
</footer>
</body>
</html>
