<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        {% include header.html %}
        
        <div class="page-content row">
          <div class="large-12 columns">
            {{ content }}
          </div>
        </div>

        {% include footer.html %}

      </div>
    </div>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdn.foundation5.zurb.com/foundation.js"></script>
    <script src="/js/site.js"></script>
  </body>
</html>
